[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
pydantic = "*"
pymongo = {extras = ["asynchronous"], version = "*"}
pytest = "*"
pytest-asyncio = "*"
python-dotenv = "*"

[dev-packages]
openai = "*"
sentence-transformers = "*"

[requires]
python_version = "3.13"
